img {
    max-width: 100%;
    height: auto;
}

body{
  background-image: url('/resources/images/background.jpg');
  background-size: 100%;
  background-position-x: center;
  background-position-y: center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  float: left;
}

.title{
  font-size: 100px;
}

.right {
  float: right;
  vertical-align: middle;
  font-size: 50px;
  text-align: center;
}

nav {
  clear: both;
}

.navbar {
  background-color: black;
  border: none;
  border-bottom: 2px dashed white;
  opacity: 0.9;
}

.navbar-default .navbar-brand {
    color: white;
}

.add-plus{
  color: black;
}

.list-output{
  top: 18%;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  width: 80%;
}

.view {
  text-align: center;
  background-color: black;
  width: 45%;
  text-align: center;
  margin-left:25%;
}

.view label{
  color: white;
  font-size: 25px;
}

.view select{
  font-size: 20px;
}

#output {
  background-color: black;
  color: white;
  vertical-align: middle;
}

.data {
  font-size: 20px;
}

.edit, .submit, .cancel, .add{
  width: 100%;
  font-size: 25px;
}

img#pencil{
  width: 3%;
  height: auto;
}

.edit-form, .add-form{
  margin-top: 12%;
  background-color: black;
  color: white;
}

.cancel{
  margin-top: 10px;
}

.edit-form input, .add-form input{
  font-size: 25px;
}
